.u-section-1 .u-sheet-1 {
  min-height: 92px;
}

.u-section-1 .u-image-1 {
  width: 150px;
  height: 40px;
  margin: 26px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 115px;
  height: 40px;
  margin: -40px auto 26px 176px;
} .u-section-2 {
  background-image: linear-gradient(#31295d, black);
}

.u-section-2 .u-sheet-1 {
  min-height: 1123px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 63px;
  margin-bottom: 40px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1020px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 30px 12px 0 19px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 506px;
  width: 473px;
  margin: 65px auto 0;
}

.u-section-2 .u-custom-html-2 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-custom-html-3 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 1020px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  width: 439px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-3 {
  width: 439px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  width: 439px;
  margin: 60px auto 0;
}

.u-section-2 .u-text-5 {
  width: 439px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1122px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 841px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-custom-html-1 {
    width: 410px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 841px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1277px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 56px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-custom-html-1 {
    width: 300px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 514px;
  }

  .u-section-2 .u-text-2 {
    width: 360px;
  }

  .u-section-2 .u-text-3 {
    width: 360px;
  }

  .u-section-2 .u-text-4 {
    width: 360px;
  }

  .u-section-2 .u-text-5 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2060px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 771px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2028px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 485px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }

  .u-section-2 .u-text-4 {
    width: 340px;
  }

  .u-section-2 .u-text-5 {
    width: 340px;
  }
} .u-section-3 {
  background-image: linear-gradient(black, #31295d);
}

.u-section-3 .u-sheet-1 {
  min-height: 276px;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 276px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 191px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 41px;
  margin-bottom: 41px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 119px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 160px;
  height: 44px;
  margin: 15px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 110px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 13px auto 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 110px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 30px 29px;
}

.u-section-4 .u-text-2 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 172px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 91px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 91px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 181px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    width: 150px;
    height: 40px;
    margin-top: 10px;
  }
}