 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 562px;
}

.u-section-1 .u-image-1 {
  width: 513px;
  height: 513px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 49px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 646px;
  min-height: 305px;
  height: auto;
  margin: -483px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 56px;
  margin: 30px 494px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1281px;
  }

  .u-section-1 .u-image-1 {
    width: 670px;
    height: 695px;
    margin-top: 535px;
  }

  .u-section-1 .u-group-1 {
    min-height: 402px;
    margin-top: -1175px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    font-size: 4.5rem;
    width: auto;
    margin-top: 7px;
    margin-right: -7px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 29px;
    margin-right: 294px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 611px;
    height: 634px;
    margin-top: 596px;
  }

  .u-section-1 .u-group-1 {
    min-height: 417px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 15px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1207px;
  }

  .u-section-1 .u-image-1 {
    height: 331px;
    width: 345px;
    margin-top: 846px;
  }

  .u-section-1 .u-group-1 {
    min-height: 711px;
    margin-top: -1102px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: -48px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -29px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    margin-top: 409px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 298px;
    margin-top: -747px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 14px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 14px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-2 {
  min-height: 65px;
}

.u-section-2 .u-custom-html-1 {
  background-image: none;
  height: auto;
  min-height: 65px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1092px;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 528px;
  margin: 65px 31px 0 629px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: -528px 622px 0 38px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 37px 622px 0 38px;
}

.u-section-3 .u-text-3 {
  margin: 15px 622px 0 38px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 25px 622px 0 38px;
}

.u-section-3 .u-text-5 {
  margin: 14px 622px 0 38px;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 20px 622px 0 38px;
}

.u-section-3 .u-text-7 {
  margin: 14px 622px 60px 38px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1148px;
  }

  .u-section-3 .u-custom-html-1 {
    width: 480px;
    margin-top: 60px;
    margin-right: 0;
    margin-left: 460px;
  }

  .u-section-3 .u-text-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-right: 507px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 507px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 507px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 507px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-right: 507px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-right: 507px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-right: 507px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1294px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: -99px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }
}