 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 455px;
}

.u-section-1 .u-image-1 {
  height: 400px;
  margin-top: 45px;
  margin-bottom: 10px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 7734px;
}

.u-section-2 .u-group-1 {
  min-height: 7695px;
  height: auto;
  margin-top: 0;
  margin-bottom: 39px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.875rem;
}

.u-section-2 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-2 .u-group-2 {
  height: auto;
  margin-top: 20px;
  margin-bottom: 0;
  min-height: 188px;
  background-image: linear-gradient(to right, #31295d, black);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-group-3 {
  width: 172px;
  height: 50px;
  margin: 30px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-text-9 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0 14px;
}

.u-section-2 .u-text-10 {
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-12 {
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-14 {
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-15 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-1 {
  min-height: 400px;
  margin-top: 20px;
  margin-bottom: 0;
  height: auto;
  width: 100%;
  background-image: url("images/WallStreetMemes.jpg");
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-16 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-17 {
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-18 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-2 {
  min-height: 400px;
  margin-top: 20px;
  margin-bottom: 0;
  height: auto;
  background-image: url("images/LaunchpadXYZ.jpg");
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-19 {
  margin: 21px 0 0;
}

.u-section-2 .u-text-20 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.875rem;
}

.u-section-2 .u-text-21 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 800px;
  min-height: 400px;
  height: auto;
  background-image: url("images/yPredict.jpg");
  margin: 30px 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-22 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-23 {
  font-size: 1.875rem;
  margin: 19px 0 0;
}

.u-section-2 .u-text-24 {
  margin: 21px 0 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-4 {
  width: 800px;
  min-height: 400px;
  height: auto;
  background-image: url("images/BitcoinBSC.jpg");
  margin: 30px 0 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-text-25 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-26 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.875rem;
}

.u-section-2 .u-text-27 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-5 {
  width: 800px;
  min-height: 400px;
  height: auto;
  background-image: url("images/ScorpionCasino.jpg");
  margin: 30px 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-text-28 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-29 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.875rem;
}

.u-section-2 .u-text-30 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-6 {
  width: 800px;
  min-height: 400px;
  height: auto;
  background-image: url("images/eTukTuk.jpg");
  margin: 30px 0 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-text-31 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-32 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.875rem;
}

.u-section-2 .u-text-33 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-7 {
  width: 800px;
  min-height: 400px;
  height: auto;
  background-image: url("images/Chimpzee.jpg");
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px;
}

.u-section-2 .u-text-34 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-35 {
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-36 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-8 {
  width: 800px;
  min-height: 400px;
  height: auto;
  background-image: url("images/Anarchy.jpg");
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px;
}

.u-section-2 .u-text-37 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-38 {
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-39 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-9 {
  width: 800px;
  min-height: 400px;
  height: auto;
  background-image: url("images/Pikamoon.jpg");
  margin: 30px 0 0;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px;
}

.u-section-2 .u-text-40 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-41 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1.875rem;
}

.u-section-2 .u-text-42 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-image-1 {
    height: auto;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: auto;
  }

  .u-section-2 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-2 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-2 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-2 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-2 .u-image-7 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-2 .u-image-8 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-2 .u-image-9 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 351px;
    width: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 350px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 350px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    min-height: 350px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    min-height: 350px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-6 {
    min-height: 350px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-7 {
    min-height: 350px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-8 {
    min-height: 350px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-9 {
    min-height: 350px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 200px;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    min-height: 200px;
  }

  .u-section-2 .u-image-3 {
    min-height: 200px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    min-height: 200px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-5 {
    min-height: 200px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-6 {
    min-height: 200px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-7 {
    min-height: 200px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-8 {
    min-height: 200px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-9 {
    min-height: 200px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 191px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 41px;
  margin-bottom: 41px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 119px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 160px;
  height: 44px;
  margin: 15px auto 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 110px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 13px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 110px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 29px;
}

.u-section-3 .u-text-2 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 172px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 91px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 91px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 181px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    width: 150px;
    height: 40px;
    margin-top: 10px;
  }
}