 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 4729px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  width: 868px;
  font-size: 1rem;
  margin: 27px auto 0;
}

.u-section-1 .u-list-1 {
  width: 868px;
  margin: 27px auto 47px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  row-gap: 30px;
  column-gap: 30px;
  min-height: 4396px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 110px;
  height: 110px;
  background-image: url("https://assets.nicepagecdn.com/c8a99c2c/5100734/images/ChangeNow.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  line-height: 1.19;
  text-transform: none;
  letter-spacing: 2px;
  font-weight: 700;
  margin: -110px auto 0 147px;
}

.u-section-1 .u-icon-1 {
  width: 16px;
}

.u-section-1 .u-text-5 {
  font-size: 0.875rem;
  margin: 20px 0 0 147px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0 147px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 110px;
  height: 110px;
  background-image: url("https://assets.nicepagecdn.com/c8a99c2c/5100734/images/LetsExchange.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  text-transform: none;
  letter-spacing: 2px;
  font-weight: 700;
  margin: -110px auto 0 147px;
}

.u-section-1 .u-icon-4 {
  width: 16px;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  margin: 20px 0 0 147px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0 147px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 110px;
  height: 110px;
  background-image: url("https://assets.nicepagecdn.com/c8a99c2c/5100734/images/FixedFloat.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-8 {
  text-transform: none;
  letter-spacing: 2px;
  font-weight: 700;
  margin: -110px auto 0 147px;
}

.u-section-1 .u-icon-6 {
  width: 16px;
}

.u-section-1 .u-text-9 {
  font-size: 0.875rem;
  margin: 20px 0 0 147px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0 147px;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  width: 110px;
  height: 110px;
  background-image: url("https://assets.nicepagecdn.com/c8a99c2c/5100734/images/Godex.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-10 {
  text-transform: none;
  letter-spacing: 2px;
  font-weight: 700;
  margin: -110px auto 0 147px;
}

.u-section-1 .u-icon-8 {
  width: 16px;
}

.u-section-1 .u-text-11 {
  font-size: 0.875rem;
  margin: 20px 0 0 147px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0 147px;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  width: 110px;
  height: 110px;
  background-image: url("https://assets.nicepagecdn.com/c8a99c2c/5100734/images/StealthEX.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-12 {
  text-transform: none;
  letter-spacing: 2px;
  font-weight: 700;
  margin: -110px auto 0 147px;
}

.u-section-1 .u-icon-10 {
  width: 16px;
}

.u-section-1 .u-text-13 {
  font-size: 0.875rem;
  margin: 20px 0 0 147px;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0 147px;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  width: 110px;
  height: 110px;
  background-image: url("https://assets.nicepagecdn.com/c8a99c2c/5100734/images/SimpleSwap.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-14 {
  text-transform: none;
  letter-spacing: 2px;
  font-weight: 700;
  margin: -110px auto 0 147px;
}

.u-section-1 .u-icon-12 {
  width: 16px;
}

.u-section-1 .u-text-15 {
  font-size: 0.875rem;
  margin: 20px 0 0 147px;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0 147px;
}

.u-section-1 .u-list-item-7 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-image-7 {
  width: 110px;
  height: 110px;
  background-image: url("https://assets.nicepagecdn.com/c8a99c2c/5100734/images/Exolix.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-16 {
  text-transform: none;
  letter-spacing: 2px;
  font-weight: 700;
  margin: -110px auto 0 147px;
}

.u-section-1 .u-icon-14 {
  width: 16px;
}

.u-section-1 .u-text-17 {
  font-size: 0.875rem;
  margin: 20px 0 0 147px;
}

.u-section-1 .u-btn-7 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0 147px;
}

.u-section-1 .u-list-item-8 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-image-8 {
  width: 110px;
  height: 110px;
  background-image: url("https://assets.nicepagecdn.com/c8a99c2c/5100734/images/Changelly.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-18 {
  text-transform: none;
  letter-spacing: 2px;
  font-weight: 700;
  margin: -110px auto 0 147px;
}

.u-section-1 .u-icon-16 {
  width: 16px;
}

.u-section-1 .u-text-19 {
  font-size: 0.875rem;
  margin: 20px 0 0 147px;
}

.u-section-1 .u-btn-8 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0 147px;
}

.u-section-1 .u-list-item-9 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-image-9 {
  width: 110px;
  height: 110px;
  background-image: url("https://assets.nicepagecdn.com/c8a99c2c/5100734/images/ChangeHero.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-20 {
  text-transform: none;
  letter-spacing: 2px;
  font-weight: 700;
  margin: -110px auto 0 147px;
}

.u-section-1 .u-icon-18 {
  width: 16px;
}

.u-section-1 .u-text-21 {
  font-size: 0.875rem;
  margin: 20px 0 0 147px;
}

.u-section-1 .u-btn-9 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0 147px;
}

.u-section-1 .u-list-item-10 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-image-10 {
  width: 110px;
  height: 110px;
  background-image: url("https://assets.nicepagecdn.com/c8a99c2c/5100734/images/SideShift.png");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-22 {
  text-transform: none;
  letter-spacing: 2px;
  font-weight: 700;
  margin: -110px auto 0 147px;
}

.u-section-1 .u-icon-20 {
  width: 16px;
}

.u-section-1 .u-text-23 {
  font-size: 0.875rem;
  margin: 20px 0 0 147px;
}

.u-section-1 .u-btn-10 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  margin: 20px 0 0 147px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    margin-left: 312px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    margin-left: 239px;
    width: 720px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    margin-left: 179px;
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 100px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    margin-top: 2698px;
    margin-left: 113px;
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: -2611px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 90px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 90px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 90px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 90px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 90px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 90px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 90px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 90px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 90px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 90px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 191px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 41px;
  margin-bottom: 41px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 119px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 160px;
  height: 44px;
  margin: 15px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 110px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 13px auto 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 110px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 29px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 172px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 91px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 91px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 181px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    width: 150px;
    height: 40px;
    margin-top: 10px;
  }
}